################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/bin/x86/Debug
/haarcascade
/obj/x86/Debug/TempPE
/obj/x86/Debug
